@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Noto+Serif:wght@700&family=PT+Serif&family=Pacifico&display=swap');
html,body{
    margin: 0;
    padding: 0;

}

.container{
   width: 100vw;
   height: 50px;
   background-color: #9A208C;
}

.brand{
    display: inline-block;
    width: 25vw;
    height: 100%;
    /* width: 330px; */
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    /* color: rgb(39, 3, 33); */
    color: white;
}

.container div{
    float: left;
}

.link{
    position: relative;
     width: 50vw;
     height: 100%;
     /* background-color:; */
     /* border-radius: 8px; */
     font-size:0 ;
}

.link a{
    font-size: 15px;
     text-decoration: none;
     text-transform: uppercase;
     color: black;
     display: inline-block;
     text-align: center;
     line-height: 50px;
     position: relative;
     z-index: 1;
}

div .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background-color:white;
    border-radius: 8px;
    transition: all .5s ease 0s;
}
div a:nth-child(1){
    width: 100px;
 }

 div .start-home , a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
 }

 div a:nth-child(2){
    width: 110px;
 }

 div a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
 }

 div a:nth-child(3){
    width: 100px;
 }

 div a:nth-child(3):hover~.animation{
    width: 100px;
    left: 210px;
 }

 div a:nth-child(4){
    width: 160px;
 }

 div a:nth-child(4):hover~.animation{
    width: 160px;
    left: 310px;
 }

 div a:nth-child(5){
    width: 120px;
 }

 div a:nth-child(5):hover~.animation{
    width: 120px;
    left: 470px;
 }

 .search-bar{
    width: 25vw;
    height: 100%;

 }

 #search{
    /* width: 40%; */
    height: 30px;
    border-radius: 10px;
    position: absolute;
    left: 1150px;
    top: 10px;
 }
 
 .main{
   background-color: #B2A4FF;
   
 }
 .image{
   border: 1px solid black;
   height: 500px;
   width: 1365px;
   z-index: 0;
 }

 .nahargarh-fort{
   height: 100%;
   width: 100%;
 }

 .quote-rajasthan{
   display: inline;
   position: absolute;
   left: 150px;
   top: 350px;
   z-index: 1;
   color: white;
   font-size: 45px;
   font-family: 'Pacifico', cursive;
 }
 .quote-rajasthan p{
   line-height: 0.4;
 }

 .quote-rajasthan p:hover{
   text-shadow: 2px 0px rgb(77, 127, 235),0px 2px rgb(228, 72, 98);
 }
 .welcome{
   margin: 30px 0px;
 }
 .welcome .welcome-first{
   text-align: center;
   font-size: 20px;
   font-family: 'Noto Serif', serif;
   color: white;
 }

 .welcome .welcome-second{
   text-align: center;
   font-size: 15px;
   font-family: 'Noto Serif', serif;
   /* font-weight:100px ; */
   color: white;
 }

 .welcome div{
   line-height: 0.8;
 }



.visit a{
  text-decoration: none;
  color: white;
}

.shake-horizontal:hover {
	-webkit-animation: shake-horizontal 3s ease-in-out both;
	        animation: shake-horizontal 3s ease-in-out both;
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.slide-fwd-center:hover{
  animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}


.grid-container{
   /* border: 2px solid black; */
  width: 1330px;
  display: grid;
  grid-template-columns: 48% 48%;
  margin: 33px;
  gap: 10px;
}

.grid-item{
  /* border: 1px solid black; */
  border-radius: 15px;
  margin: 10px;
  z-index: 3;
}

.card{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.Fort-name{
  font-size: 19px;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.Fort-destination{
  color: white;
  text-align: center;
  margin: 0px 60px;
}
.Fort{
  /* border: 1px solid black; */
  height: 55px;
  padding: 5px 30px 3px;
  border-radius: 20px;
  background-color: #9A208C;
}
.fort1{
  position: absolute;
  left: 220px;
  top: 842px;
  z-index: 4;
  line-height: 0.1;
  
}

.fort1-info{
  display: inline-block;
  /* border: 1px solid black; */
  width: 500px;
  height: 200px;
  position: absolute;
  left: 80px;
  top: 750px;
  z-index: 5;
  background-color: #9A208C;
  padding: 10px 20px 0px;
  border-radius: 12px;
  

}
.hidden{
  display: none;
}

.fort1-info h3{
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  color: whitesmoke;
}

.fort1-info p{
  color: white;
}

.fort1-info .explore{
  width: 100px;
  height: 35px;
  font-size: 15px;
  border-radius: 12px;
  margin: 0px 200px;
}
.explore a{
  text-decoration: none;
  color: black;
}








.footer{
  display: flex;
  border-top: 1px solid rgb(0, 0, 0);
  background-color: #cb8fe2;
  justify-content: space-around;
}
.footer li{
  list-style-type: none;
  padding: 4px;
  margin: 4px;
}

.footer .list a{
  
  font-size: small;
  text-decoration: none;
  color: black;
}

.footer .list a:hover{
  /* border:1px solid black;
  border-radius: 10px;
  background-color: rgb(226, 221, 221); */
  color: white;
}